<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CSV Upload</title>
      {% load static %}
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
      <link rel="stylesheet" href= '{% static "css/bootstrap.min.css" %}' />
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href='{% static "assets/css/form-elements.css" %}'>
      <link rel="stylesheet" href='{% static "assets/css/style.css" %}'>
   </head>
   <body style="background-image:url('https://i.imgur.com/DAbclgg.png'); background-size:cover;">
      <div class="top-content">
         <div class="inner-bg">
            <div class="container">
               <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 text">
                     <h1><strong>Otaku Organiser</strong> CSV Upload </h1>
                     <div class="description">
                        <h1 style="font-size:25px;">
                           <strong>Please use comma-delimited files.</strong>
                        </h1>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-6 col-sm-offset-3 form-box">
                     <div class="form-top">
                        <div class="form-top-left">
                           <h3>New Anime:</h3>
                           <p><strong>Upload your CSV file:</strong></p>
                        </div>
                        <div class="form-top-right">
                           <i class="fa fa-lock"></i>
                        </div>
                     </div>
                     <div class="form-bottom">
                        <form role="form" action="{% url 'upload_csv' %}" method="POST" enctype="multipart/form-data" class="login-form">
                            {% csrf_token %}
                            <div  style="margin-bottom:10px; padding-bottom:20px;">
                                <label>File:</label>  
                                    <strong><input style= "color: rgb(7, 34, 56); margin-left: 50px;" type="file" name="csv_file" id="csv_file" required="True" ></strong>
                            </div>
                           <button type="submit" class="btn btn-primary"><strong>Upload</strong></button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Javascript -->
      <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src='{% static "assets/bootstrap/js/bootstrap.min.js" %}'></script>
      <script src='{% static "assets/js/jquery.backstretch.min.js" %}'></script>
      <script src='{% static "assets/js/scripts.js" %}'></script>
   </body>
</html>

